$border-radius: 50px;
$bgColor: #121212;

.ShopPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SP_MainWiew {
  width: 95%;
  height: 90%;
  box-shadow: 0 0 10px $bgColor;
  border-radius: $border-radius;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.rightContentContainer {
  width: 80%;
  height: 100%;
}

.ContentMainBox {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 160px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: auto;
}
