@import "../../../../variables/shopPage.scss";

.leftMenuContainer {
  width: 20%;
  height: 100%;
}
.leftMenuOpen {
  width: 100%;
  height: 100%;
  background-color: $scndBackgroundColor;
  border-radius: $borderRadius;
  display: flex;
  flex-wrap: wrap;
}
.leftMenuClose {
  width: 30%;
  height: 100%;
  background-color: $scndBackgroundColor;
  border-radius: $borderRadius;
  display: flex;
  flex-wrap: wrap;
  & .ulContainer {
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: $mediumFontSize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & span {
      margin-left: 0px;
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.shopLogo {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mainFontColor;
    font-size: $mediumFontSize;
    a:link,
    a:hover,
    a:visited,
    a:active {
      text-decoration: none;
      color: $mainFontColor;
    }
  }
}
// .closeAndOpenConstainer {
//   width: 5%;
//   height: 500px;
//   color: white;
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }
.listConstainer {
  width: 100%;
  display: flex;
  color: $mainFontColor;
}
.ulContainer {
  box-sizing: border-box;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: $paddinglarge;
  font-size: $mediumFontSize;
  display: flex;
  flex-direction: column;
  & li {
    margin-top: $marginMedium;
    border-radius: $borderRadius10;
    & > a {
      padding: $paddingSmall;
    }
    & svg,
    img {
      width: $svgImgSizeRem;
      height: $svgImgSizeRem;
      min-width: $svgImgSizeRem;
      min-height: $svgImgSizeRem;
    }
    & span {
      margin-left: $marginMedium;
    }
    .Counter {
      margin-left: $marginMedium;
      color: $whiteFontColor;
      background-color: $priceFontColor;
      padding-left: 6px;
      padding-right: 6px;
      border-radius: $borderRadiusSmall;
    }
    &:hover {
      background-color: $mainBackgroundColor;
      cursor: pointer;
    }
  }
  a {
    display: flex;
    align-items: center;
    width: 100%;
  }
  & li:last-child {
    margin-top: auto;
    font-size: $smallFontSize;
  }
  a:link,
  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
    color: $mainFontColor;
  }
}

@media only screen and (max-width: 1600px) {
  .ulContainer {
    & a {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .ulContainer {
    padding-left: $paddingSmall;
    padding-right: $paddingSmall;
    & a {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .ulContainer {
    font-size: $smallLfontSize;
    padding-left: $paddingSmall;
    padding-right: $paddingSmall;
    & a {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@media only screen and (max-width: 1125px) {
  .ulContainer {
    font-size: $smallFontSize;
    padding-left: $paddingSmall;
    padding-right: $paddingSmall;
    & a {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@media only screen and (max-width: 1090px) {
  .leftMenuContainer {
    width: max-content;
    height: 100%;
  }
  .leftMenuOpen {
    justify-content: center;
  }
  .listConstainer {
    justify-content: center;
    li > a {
      font-size: $descFontSize;
      color: rgb(90, 19, 19);
      & svg,
      img {
        width: $svgImgSizeRemXXL;
        height: $svgImgSizeRemXXL;
        min-width: $svgImgSizeRemXXL;
        min-height: $svgImgSizeRemXXL;
      }
    }
    .ulContainer {
      width: max-content;
      span {
        display: none;
      }
    }
  }

  .shopLogo {
    width: max-content;
    .text span {
      display: none;
    }
  }
}
// MOBILE STYLE
.leftMenuContainerMobile {
  width: 100%;
  .leftMenuOpenMobile {
    width: 100%;
    height: 100%;
    background-color: $scndBackgroundColor;
    border-radius: $borderRadius;
    display: flex;
    flex-wrap: wrap;
    .ulContainerMobile {
      box-sizing: border-box;
      list-style-type: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      & li {
        border-radius: $borderRadius10;
        padding-top: $paddingMedium;
        padding-bottom: $paddingMedium;
        & > a {
          padding: $paddingMedium;
          color: $mainFontColor;
        }
        & svg,
        img {
          width: $largeFontSize;
          height: $largeFontSize;
          min-width: $largeFontSize;
          min-height: $largeFontSize;
        }
        .CounterMobile {
          color: $priceFontColor;
        }
        &:hover {
          background-color: $mainBackgroundColor;
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (min-width: 921px) {
  .leftMenuContainer {
    display: block !important;
  }
  .leftMenuContainerMobile {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  .leftMenuContainer {
    display: none;
  }
  .leftMenuContainerMobile {
    display: block !important;
  }
}
