$border-radius: 50px;
$bgColor: #121212;

.leftMenuContainer {
  width: 20%;
  height: 100%;
}
.leftMenuOpen {
  width: 100%;
  height: 100%;
  background-color: $bgColor;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
}
.leftMenuClose {
  width: 20%;
  height: 100%;
  background-color: $bgColor;
  border-radius: $border-radius;
}

.shopLogo {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 1.4rem;
  }
}
.closeAndOpenConstainer {
  width: 5%;
  height: 500px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.listConstainer {
  width: 95%;
  display: flex;
  color: gray;
}
.ulContainer {
  box-sizing: border-box;
  list-style-type: none;
  width: 100%;
  height: 500px;
  padding: 30px;
  font-size: 1.4rem;
  & li {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;

    & span {
      margin-left: 25px;
    }
    &:hover {
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
  a {
    display: flex;
    align-items: center;
    width: 100%;
  }
  a:link,
  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
    color: grey;
  }
}
