.CartVievBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Cart {
  width: 100%;
  color: rgb(28, 106, 224);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .arrowBox {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    & > svg:hover {
      color: black;
      cursor: pointer;
    }
  }
}
