// BACKGROUND COLOR
$mainBackgroundColor: black;
$scndBackgroundColor: #121212;
$greenBackgroundColor: #6bd968;

// FONT COLOR
$nameFontColor: gold;
$sectionFontColor: #6bd968;
$buttonHoverFontColor: lightgrey;

// PADDING
$mediumPadding: 15px;
$medium2Padding: 20px;
$largePadding: 30px;
$sLargePadding: 50px;

// MARGIN
$smallMargin: 10px;
$smallMarginREM: 1rem;
$mediumMargin: 20px;
$largeMargin: 30px;
$largeMarginREM: 2rem;

// FONT SIZE
$plusLargeFontSize: 4rem;
$largeFontSize: 3rem;
$mediumFontSize: 2.5rem;
$buttonFontSize: 2rem;
$smallFontSize: 1.6rem;
$small2FontSize: 1.2rem;
$vSmallFontSize: 0.7rem;

// SHADOW

// WIDTH
$photoBoxWidth: 300px;

// HEIGHT
$photoBoxHeight: 300px;

// RADIUS
$mediumRadius: 20px;
$smallRadius: 10px;

// SVG, IMG SQUARE

// ANIMATION DURATION:
$vFstAnimationDuration03: 0.3s;
$fastAnimationDuration08: 0.8s;
$fastAnimationDuration07: 0.7s;
$mediumAnimationDuration1: 1s;
$slowAnimationDuration2: 2s;
$vSlowAnimationDuration3: 3s;
