@import "../../../../variables/shopPage.scss";

.navContainer {
  width: 100%;
  padding-top: $paddingMedium;
}
.navContent {
  width: 100%;
  box-sizing: border-box;
  padding: $paddingMedium;
  display: flex;
  justify-content: space-between;
}
.searchEngine {
  box-shadow: $inputBoxShadow;
  border-radius: $borderRadius5;
  & > a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  & input[type=""] {
    height: 50px;
    width: 400px;
    outline: none;
    border: none;
    border-radius: $borderRadius5;
    font-size: $mediumFontSize;
    color: gray;
    padding-left: $paddingSmall;
  }
  & div {
    font-size: $sectionFontSize;
    color: $mainFontColor;
    display: flex;
    align-items: center;
    margin-right: $marginSmall;
  }
  &:focus-within {
    box-shadow: $inputBoxShadowFOCUS;
  }
}
.rightNavPanel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .iconBox {
    display: flex;
    font-size: $sectionFontSize;
    position: relative;
    & > svg,
    img {
      margin-right: $marginMedium;
      cursor: pointer;
    }
  }
  .miniUserPhoto {
    width: 50px;
    height: 50px;
    border-radius: $borderRadius;
    background-color: $mainFontColor;
    margin-right: $marginMedium;
    background-position: center;
    background-size: cover;
  }
  .navUserInfo {
    color: $mainFontColor;
  }
  & > a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
