@import "../../../../variables/welcomPage.scss";

.sectionH1 {
  color: $sectionFontColor;
}
.WPC_Content {
  margin-top: $mediumMargin;
  .WPP_oneLine {
    display: flex;
    align-items: center;
    font-size: $buttonFontSize;
    margin-bottom: $mediumMargin;
    color: lightgrey;
    position: relative;
    & > span {
      margin-left: $mediumMargin;
    }
    & > img,
    svg {
      cursor: pointer;
    }
    .WPP_oneLineCoppiedToClipboard {
      position: absolute;
      top: -20px;
      font-size: 1rem;
      background-color: $greenBackgroundColor;
      color: black;
      padding-left: $mediumMargin;
      padding-right: $mediumMargin;
      transform: rotate3d(1, 0, 0, 0deg);
      transition-duration: $slowAnimationDuration2;
      border-radius: $smallRadius;
      animation-name: WPPOCTopacity;
      animation-duration: $vSlowAnimationDuration3;
    }
    @keyframes WPPOCTopacity {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
@media only screen and (max-width: 610px) {
  .WPC_Content {
    margin-top: $mediumMargin;
    .WPP_oneLine {
      font-size: $smallFontSize;
      .WPP_oneLineCoppiedToClipboard {
        font-size: 0.8rem;
      }
    }
  }
}
@media only screen and (max-width: 510px) {
  .WPC_Content {
    .WPP_oneLine {
      font-size: $small2FontSize;
      .WPP_oneLineCoppiedToClipboard {
        font-size: $vSmallFontSize;
      }
    }
  }
}
@media only screen and (max-width: 410px) {
  .WPC_Content {
    .WPP_oneLine {
      font-size: 1rem;
      .WPP_oneLineCoppiedToClipboard {
        font-size: $vSmallFontSize;
      }
    }
  }
}
