@import "../../../../variables/welcomPage.scss";

.sectionH1 {
  color: $sectionFontColor;
}
.WPAcontent {
  p {
    margin-bottom: $mediumMargin;
  }
}
.WPA_EduBox {
  margin-top: $mediumMargin;
  width: 100%;
  display: flex;
  height: 200px;
  .WPA_LeftLine {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: $mediumMargin;
    .WPA_Circle {
      width: 40px;
      height: 40px;
      border: 3px solid $sectionFontColor;
      border-radius: $smallRadius;
      font-size: $vSmallFontSize;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      transition-duration: $vFstAnimationDuration03;
      &:hover {
        font-size: 1.4rem;
        background-color: $mainBackgroundColor;
        text-shadow: 2px 2px black, -2px -2px black, 2px -2px black,
          -2px 2px black;
        cursor: none;
      }
    }
    .WPA_Line {
      margin-top: $smallMargin;
      margin-bottom: $smallMargin;
      width: 5px;
      height: 100px;
      background-color: $greenBackgroundColor;
      border-radius: $smallRadius;
    }
  }
  .WPA_RightContent {
    padding-top: $sLargePadding;
    & > span {
      font-size: $smallFontSize;
    }
    & > p {
      padding-top: $medium2Padding;
    }
  }
}
@media only screen and (max-width: 610px) {
  .WPA_EduBox {
    .WPA_RightContent {
      & > span {
        font-size: $small2FontSize;
      }
      & > p {
        padding-top: $medium2Padding;
        color: rgba(211, 211, 211, 0.74);
      }
    }
  }
}
