@import "../../../../variables/shopPage.scss";

.navContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editInfoBar {
  width: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  padding-left: $paddingMedium;
  margin-bottom: $marginMedium;
  &:hover {
    background-color: rgb(241, 241, 241);
  }
}
.userInfo {
  width: max-content;
  font-size: $largeFontSize;
  color: $mainFontColor;
  .userInfoOneLine {
    display: flex;
    align-items: center;
    .desc {
      margin-right: $marginSmall;
      min-width: 200px;
    }
    .editInfo {
      display: flex;
      align-items: center;
      cursor: pointer;
      input {
        height: 2rem;
        font-size: $largeFontSize;
        width: 400px;
        outline: none;
        border: none;
        border-radius: $borderRadius5;
        color: $mainFontColor;
        padding-left: $paddingSmall;
        box-shadow: $inputBoxShadow;
        width: 250px;
      }
    }
  }
}
.staticUserInfo {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  .userPhoto {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    &:hover {
      box-shadow: $lightBoxShadow;
    }
  }
  .userMainInfoContainer {
    padding: 1rem;
    color: $mainFontColor;
    height: 300px;
    .bold {
      font-weight: bold;
      color: $blackFontColor;
      font-size: $largeFontSize;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .userScndInfoContainer {
    padding: 1rem;
    color: $mainFontColor;
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .sectionTitle {
      font-size: $largeFontSize;
      width: 100%;
    }
    .bold {
      font-weight: bold;
      color: $mainFontColor;
      font-size: $descFontSize;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > div {
      width: 50%;
    }
  }
}
@media only screen and (max-width: 1650px) {
  .staticUserInfo {
    width: 100%;
    .userPhoto {
      width: 250px;
      height: 250px;
    }
    .userScndInfoContainer {
      > div {
        width: 30%;
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .staticUserInfo {
    .userScndInfoContainer {
      > div {
        width: 40%;
      }
    }
  }
}
@media only screen and (max-width: 920px) {
  .staticUserInfo {
    .userScndInfoContainer {
      .sectionTitle {
        font-size: $descFontSize;
        width: 100%;
      }
      .bold {
        font-weight: bold;
        color: $mainFontColor;
        font-size: $mediumSFontSize;
        width: 200px;
      }
      > div {
        width: 50%;
      }
    }
  }
  .userInfo {
    font-size: $descFontSize;
    margin-bottom: $marginMedium;
    .userInfoOneLine {
      .editInfo {
        input {
          font-size: $descFontSize;
          width: 250px;
        }
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .userInfo {
    .userInfoOneLine {
      .editInfo {
        input {
          width: 200px;
        }
      }
    }
  }
}
