@import "../../../../variables/shopPage.scss";

.navContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.editInfoBar {
  width: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  padding-left: $paddingMedium;
  margin-bottom: $marginMedium;
  &:hover {
    background-color: rgb(241, 241, 241);
  }
}
.userInfo {
  width: 50%;
  font-size: $largeFontSize;
  color: $mainFontColor;
  .userInfoOneLine {
    display: flex;
    align-items: center;
    .desc {
      margin-right: $marginSmall;
      min-width: 200px;
    }
    .editInfo {
      display: flex;
      align-items: center;
      cursor: pointer;
      input {
        height: 2rem;
        font-size: $largeFontSize;
        width: 400px;
        outline: none;
        border: none;
        border-radius: $borderRadius5;
        color: $mainFontColor;
        padding-left: $paddingSmall;
        box-shadow: $inputBoxShadow;
        width: 250px;
      }
    }
  }
}
.staticUserInfo {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  .userPhoto {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    &:hover {
      box-shadow: $lightBoxShadow;
    }
  }
  .userMainInfoContainer {
    padding: 1rem;
    color: $mainFontColor;
    height: 300px;
    .bold {
      font-weight: bold;
      color: $blackFontColor;
      font-size: $largeFontSize;
    }
  }
  .userScndInfoContainer {
    padding: 1rem;
    color: $mainFontColor;
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .sectionTitle {
      font-size: $largeFontSize;
      width: 100%;
    }
    .bold {
      font-weight: bold;
      color: $mainFontColor;
      font-size: $descFontSize;
    }
    > div {
      width: 50%;
    }
  }
}
