@import "../../../../variables/shopPage.scss";

.Categories {
  width: 100%;
  color: $sectionFontColor;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .arrowBox {
    font-size: $sectionFontSize;
    display: flex;
    align-items: center;
    & > svg:hover {
      color: $blackFontColor;
      cursor: pointer;
    }
  }
}

.Products {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: $marginMedium;
  margin-bottom: $marginMedium;
}
