@import "../../../../variables/shopPage.scss";

.ProductMiniBox {
  width: $miniBoxWidth;
  height: $miniBoxHeight;
  box-shadow: $lightBoxShadow;
  border-radius: $borderRadiusSmall;
  color: $mainFontColor;
  margin-right: $marginMediumPlus;
  transition-duration: $sQuickAnimationDuration;
  transition-timing-function: ease-in-out;
  margin-bottom: $marginMedium;
  .ProductImg {
    width: $miniBoxWidth;
    height: $prdctImgHeight;
    display: flex;
    justify-content: center;
    img,
    svg {
      width: $svgImgSizeMedium;
      height: $svgImgSizeMedium;
    }
  }
  .ProductDesc {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: $paddingSmall;
    padding-right: $paddingSmall;
    span:nth-child(2) {
      color: $priceFontColor;
    }
  }
  .ProductAddToCart {
    width: 100%;
    height: 40px;
    display: flex;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgrey;
    color: $sectionFontColor;
    &:hover {
      background-color: $sectionFontColor;
      color: $whiteFontColor;
      cursor: pointer;
    }
    &.Disabled {
      background-color: $mainBackgroundColor;
      color: $disableFontColor;
      cursor: pointer;
    }
  }
  .ProductAddOrRemove {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
    .deleteProduct {
      color: $priceFontColor;
      &:hover {
        background-color: $priceFontColor;
        color: $blackFontColor;
        border-radius: $borderRadius;
      }
    }
    & > input {
      width: 30%;
      height: 1.4rem;
    }
    & > svg,
    img {
      font-size: $mediumFontSize;
      &:hover {
        color: $sectionFontColor;
      }
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: $lightBoxShadow;
  }
}

.Disabled {
  color: $disableFontColor;
  &:hover {
    color: $disableFontColor !important;
    cursor: not-allowed;
  }
}
@media only screen and (max-width: 540px) {
  .ProductMiniBox {
    width: $miniBoxWidthMobile;
    height: $miniBoxHeightMobile;
    .ProductImg {
      width: $miniBoxWidthMobile;
      height: $prdctImgHeightMobile;
      img,
      svg {
        width: $svgImgSizeSmall;
        height: $svgImgSizeSmall;
      }
    }
    .ProductDesc {
      width: 100%;
      height: 45px;
      font-size: 0.9rem;
    }
  }
}
@media only screen and (max-width: 430px) {
  .ProductMiniBox {
    width: $miniBoxWidthMobile2;
    height: $miniBoxWidthMobile2;
    .ProductImg {
      width: $miniBoxWidthMobile2;
      height: $prdctImgHeightMobile2;
      img,
      svg {
        width: $svgImgSizeSmall2;
        height: $svgImgSizeSmall2;
      }
    }
    .ProductDesc {
      width: 100%;
      height: 45px;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
    }
    .ProductAddToCart {
      font-size: 0.9rem;
    }
  }
}
