@import "../../variables/welcomPage.scss";

.WelcomePageContainer {
  background-color: $mainBackgroundColor;
  color: $nameFontColor;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LeftContent {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  .InfoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .InfoPhotoBox {
      width: $photoBoxWidth;
      height: $photoBoxHeight;
      background-size: cover;
      background-image: url("https://avatars.githubusercontent.com/u/33695264?v=4");
      margin-bottom: $largeMargin;
      border-radius: $mediumRadius;
    }
    .InfoContentBox {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      & > span {
        text-align: center;
        width: 100%;
        margin-bottom: $smallMargin;
      }
      .SpanTitle {
        font-size: $largeFontSize;
      }
      .SpanDesc {
        font-size: $smallFontSize;
        color: $sectionFontColor;
      }
      .InfoButtonBox {
        width: 100%;
        display: flex;
        justify-content: center;
        & > a {
          text-align: center;
          color: lightgrey;
          font-size: $plusLargeFontSize;
          margin-top: $largeMarginREM;
          margin-left: $smallMarginREM;
          margin-right: $smallMarginREM;
        }
        & > svg,
        img {
          cursor: pointer;
        }
      }
    }
    .InfoPreviewBox {
      width: 100%;
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      & > button {
        border: 0;
        width: 40%;
        font-size: $buttonFontSize;
        padding: $mediumPadding;
        border-radius: $mediumRadius;
        &:hover {
          box-shadow: inset 0 0px 0px 2px lightgrey;
          color: $buttonHoverFontColor;
          cursor: pointer;
          background-color: $mainBackgroundColor;
        }
      }
    }
  }
}
.RightContentContainer {
  background-color: $scndBackgroundColor;
  border-radius: $mediumRadius 0 0 $mediumRadius;
  padding: $largePadding;
  transition-duration: $slowAnimationDuration2;
  &.Close {
    width: 0%;
    height: 80%;
    padding: 0;
    & > * {
      display: none;
    }
  }
  &.Open {
    width: 50%;
    height: 80%;
    animation-name: Open;
    animation-duration: $fastAnimationDuration08;
    & > * {
      animation-name: OpenContent;
      animation-duration: $fastAnimationDuration07;
    }
  }
  @keyframes Open {
    0% {
      opacity: 0;
      width: 0%;
    }
    50% {
      width: 50%;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes OpenContent {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .RightContent {
    width: 100%;
    height: 100%;
    background-color: $scndBackgroundColor;
    color: $buttonHoverFontColor;
  }
}

@media only screen and (max-width: 1600px) {
  .LeftContent {
    .InfoContainer {
      .InfoContentBox {
        .SpanTitle {
          font-size: $mediumFontSize;
        }
        .SpanDesc {
          font-size: $small2FontSize;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .WelcomePageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: max-content;
    min-height: 100vh;
  }
  .LeftContent {
    width: 100%;
    height: max-content;
    display: flex;
    margin-top: $largeMarginREM;
    margin-bottom: $largeMarginREM;
    .InfoContainer {
      .InfoContentBox {
        .SpanTitle {
          font-size: $mediumFontSize;
        }
        .SpanDesc {
          font-size: $small2FontSize;
        }
      }
      .InfoPreviewBox {
        width: 70%;
        margin-top: $smallMarginREM;
      }
    }
  }
  .RightContentContainer {
    border-radius: $mediumRadius;
    &.Open {
      width: 80%;
      min-height: 70vh;
      height: max-content;
      margin-top: $largeMarginREM;
      margin-bottom: $largeMarginREM;
    }
  }
}
@media only screen and (max-width: 900px) {
  .LeftContent {
    .InfoContainer {
      .InfoPreviewBox {
        width: 100%;
      }
    }
  }
  .RightContentContainer {
    border-radius: $mediumRadius;
    &.Open {
      width: 80%;
      height: max-content;
      margin-top: $largeMarginREM;
      margin-bottom: $largeMarginREM;
    }
  }
}
@media only screen and (max-width: 720px) {
  .LeftContent {
    .InfoContainer {
      .InfoPreviewBox {
        width: 100%;
      }
    }
  }
  .RightContentContainer {
    &.Open {
      width: 95%;
    }
  }
}
@media only screen and (max-width: 610px) {
  .LeftContent {
    .InfoContainer {
      .InfoPreviewBox {
        width: 100%;
        & > button {
          font-size: $smallFontSize;
        }
      }
    }
  }
  .RightContentContainer {
    &.Open {
      width: 95%;
    }
  }
}
@media only screen and (max-width: 450px) {
  .LeftContent {
    .InfoContainer {
      .InfoPreviewBox {
        & > button {
          font-size: 1rem;
        }
      }
    }
  }
}
